# Core functionality - changes here should be rare!
/src/app.py                   @ogchonk
/src/backend/database.py      @ogchonk
/src/backend/routers/auth.py  @ogchonk

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ogchonk
